<main>
  <img src="{{home_contain.baner}}" alt="{{home_contain.alt}}">
  <form>
    <i class="fa-solid fa-magnifying-glass" style="font-size: 16px; color: #77777B;"></i>
    <input type="text" (input)="pokemon__onChange($event)" value="{{inputValue}}" placeholder="{{home_contain.form.placeHolder}}" style="font-size: 16px;"/>
  </form>
</main>

<section *ngIf="filteredPokemons" class="Pokemon-cards">
  <app-pokemon [pokemon]="pokemon" *ngFor="let pokemon of filteredPokemons | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}"></app-pokemon>
</section>

<section *ngIf="filteredPokemons.length == 0">
  <app-loader></app-loader>
</section>

<div *ngIf="filteredPokemons">
  <pagination-controls (pageChange)="currentPage = $event" class="paginacion"></pagination-controls>
</div>
